.API-modal{
    position: fixed;
    height: 500px;
    width: 600px;
    top: 200px;
    left: 700px;
    z-index: 10;
    background-color: white;

}
.API-new{
    float: right;
    margin-right: 50px;
    padding: 5px 10px;
}
.API-add-title{
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.API-button{
    height: 50px;
    line-height: 30px;
    text-align: center;
}
.API-button .api-button{
    margin-left: 35px;
    color: #46b8da;
}
a:hover{
    cursor: pointer;
}