.home_body{
    background-color: #EFEFEF;
}
.home-header{
    height: 80px;
    width: 80%;
    top:0;
    background-color: white;
    float: right;


}
.user-info{
    float: right;
    margin-right: 50px;
    font-size: 16px;
    font-weight: bold;
    min-width: 100px;
    height: 40px;
    position: relative;
    line-height: 80px;
}
.user-info .user-logout{
    position: absolute;
    float: right;
    display: none;
    top: 30px;

}
.user-info:hover .user-logout{
    display: block;
}

.home_menu{
    position: absolute;
    width: 20%;
    float: left;
    top: 0px;
    bottom: 0px;
    background-color: #313541;
}
.home-title{
    color: white;
    background-color: #3d598a;
    line-height: 100px;
    text-align: center;
    font-size: 25px;

}
.home-lines a{
    height: 70px;
    line-height: 70px;
    padding-left: 50px;
    color: #707783;
    display: inline-block;
    width: 100%;
    text-decoration: none;

}
.home-lines a:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.home-lines .active{
    color:white;
    background-color: #272a34;
}

.home-header .project-content{
    float: right;
    width: 95%;
    margin-top: 100px;
    margin-right: 20px;
    background-color: white;

}
.project-header{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;

}
.project-new{
    float: right;
    padding: 5px;
    margin-top: 5px;
    margin-right: 50px;
}

.home-show{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.6;
    background-color: black;
    z-index: 9;
}
.home-modal{
     position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    margin-left: -250px;
    margin-top: -250px;
    background-color: #eeeeee;
    z-index: 10;
}
.hide{
    display: none;
}












